<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <!--<a href="#x"> Profile</a>-->
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="mt-5">
      <p><u>Slot timings follows:</u><br><strong>A1:</strong> 09:30am-11:00am &nbsp; <strong>A2:</strong> 12:01pm-2:00pm &nbsp;
      </p>
      <table class="table table-bordered">
          <thead class="thead">
              <tr>
                <th>Doctor Id</th>
                  <th>Name</th>
                  <th>EMail</th>
                  <th>Specialization</th>
                  <th>Slot</th>
                  <th>Availability</th>
              </tr>
          </thead>
          <tbody class="tbody">
              <tr *ngFor="let doctor of doctorDetails">
                    <td>{{doctor.did}}</td>
                  <td>{{doctor.dname}}</td>
                  <td>{{doctor.emailid}}</td>
                  <td>{{doctor.specialization}}</td>
                  <td>{{doctor.slot}}</td>
                  <td *ngIf="doctor.availability;else elseBlock"><button (click)="fetchAll(doctor)" style="background-color: lightgreen;">Book</button></td>
                  <ng-template #elseBlock>
                    <td><button (click)="na()" style="background-color: Red;">N/A</button></td>
                  </ng-template>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<p>{{msg}}</p>
<div class="container">
  <div *ngIf="pres!=null">
    <h4>Provided Prescription</h4>
    <p>{{pres}}</p>
  </div>
</div>